.cta-form {
  background-color: var(--brand-tertiary);
  margin: 10rem 0;
}

.cta-form h2 {
  font-size: 4rem;
}

.cta-form p {
  font-size: 1.8rem;
}

.py-10 {
  padding: 10rem 0;
}

.cta-form .form-control {
  padding: 10px 20px;
  font-size: 1.6rem;
}

.cta-form .form-control:focus {
  border: 1px solid var(--brand-primary) !important;
  box-shadow: none;
}
