.hero {
  background-color: var(--brand-tertiary);
  height: calc(100vh - 80px);
}

.hero .hero_content {
  width: 50.7rem;
}

.hero .hero_content h1 {
  font-size: 8rem;
  font-weight: 700;
  line-height: 9.6rem;
  color: var(--brand-black);
}

.hero .hero_content p {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: var(--brand-black);
}
