.service h2 {
  font-size: 4rem;
}

.service p {
  font-size: 1.5rem;
}

.service .database-leftcard {
  border-radius: 7px;
  box-shadow: 16px 16px 84px 0 rgba(0, 0, 0, 0.15);
  min-height: 90px;
  width: 80%;
}

.service .database-leftcard img {
  width: 50px;
  height: 50px;
}
