*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --brand-primary: #000099;
  --brand-secondary: #1a1aff;
  --brand-tertiary: #ccccff;
  --brand-white: #ffffff;
  --brand-black: #000000;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

.my-10 {
  margin: 10rem 0;
}
