*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --brand-primary: #ffc107;
  --brand-secondary: #ffd966;
  --brand-tertiary: #fff2cc;
  --brand-white: #ffffff;
  --brand-black: #000000;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

.my-10 {
  margin: 10rem 0;
}
